.hancens-button {
  display: flex;
  justify-content: center;
  border-radius: 12px;

  font-size: 14px;
  font-weight: bold;
  padding: 12px;
  color: #201A19;


  &--size-md {


  }

  &--size-lg {
    line-height: 24px;
    width: 235px;
  }

  &--type-primary {
    background: #F8EBE9;

  }

  &--type-normal {
    background: #FFDAD7;

  }

  &--type-danger {
    background: #BC1321;

  }
}